<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch-it!</title>
    <style>
        #head1 { grid-area: 1 / 1 ; }
        #head2 { grid-area: 1 / 2 ; }
        #head3 { grid-area: 1 / 3 ; }

        .head {
          display: grid;
          background-color: rgb(83, 78, 78);
          grid-auto-columns: auto;
          grid-gap: 10px;
          padding: 10px;
          width: auto;
          height: 50%;
        }
        
        .head > div {
          text-align: center;
          padding: 20px 0;
          display: block;
        }

        .head > div > a {
            color : whitesmoke
        }

        a {
            color : black
        }
        a:hover {
            color : grey
        }
        </style>
        <link rel="icon" href="/images/logo.png" type="image/png" sizes="any">
</head>
<body>
    <header>
        <div >
        <span class="head" >
            <div id="head1">
            <a href="/index">
            <img src="/images/Watch-it!.png" alt="Watch-it!" title="Watch-it!" height="75%" width="75%">
            </a>
            </div>
            <div id="head2">
            <a href="/index/comingsoon">Coming Soon</a>
            <a href="/index/mostwatched">Most Watched</a>
            </div>
            <div id="head3">
            <a href='/login'>Log in</a>
            <a href='/new/user'>Sign up</a>
            </div>
        </span>
        </div>
    </header></br>
        <div>
            <form id="searchBox" action='/index/search{{value}}' method="get">
            <label for="search">Search :</label>
            <input id="search" type="text" name="q" placeholder="keyword">
            <input type="Submit" value="Search">
            </form>
        </div></br>
        <div id="content"></div>
        <div id="hidden" style='visibility:hidden'>{{title}}</div>

<script src="/scripts/index.js" type="application/javascript"></script>
<script src="/scripts/searchB.js" type="application/javascript"></script>

</body>
</html>