<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch-it!</title>
    <link rel="icon" href="logo.png" type="image/png" sizes="any">

</head>
<body>
    <header>
        <div class="head" >
        <span id="head1">
            <a href="/index">Home</a>
        </span>
        <span id="head2">
            <a href="/index/comingsoon">Coming Soon</a>
            <a href="/index/mostwatched">Most Watched</a>
        </span>
        </div>
    </header></br>
        <div>
            <form id="searchBox" action='/index/search{{value}}' method="get">
            <label for="search">Search :</label>
            <input id="search" type="text" name="q" placeholder="keyword">
            <input type="Submit" value="Search">
            </form>
        </div></br>
    <form action="/login" method='POST'>
        <label for="email">Email Address</label></br>
        <input type="email" id="email" name="e" required></br></br>
        <label for="password">Password</label></br>
        <input type="password" id="password" name="p" required></br></br>
        <input type="submit" name="Submit" value="Log in">
    </form>
    <div>
        <button type="button">Don't have an account?</button>
    </div>
    <div id="hidden" style="visibility: hidden;">{{alert}}</div>
</body>
<script>
    var getAlert = document.getElementById('hidden').innerHTML

    if (getAlert !== "") {
        showAlert(getAlert)
    }

    function showAlert(msg) {
        alert(msg)
    }
</script>
</html>