<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch-it!</title>
    <link rel="icon" href="/images/logo.png" type="image/png" sizes="any">

</head>
<body>
    <header>
        <div class="head" >
        <span id="head1">
            <a href="/dashboard/{{userkey}}">Home</a>
        </span>
        <span id="head2">
            <a href="/dashboard/comingsoon/{{userkey}}">Coming Soon</a>
            <a href="/dashboard/mostwatched/{{userkey}}">Most Watched</a>
        </span>
        <span id="head3" style="color:white">
            <a href="/logout/{{userkey}}" onclick="return confirm('Log out?')">Log Out</a>
        </span>
        </div>
    </header></br>
        <div>
            <form id="searchBox" action='/dashboard/search/{{userkey}}' method="get">
            <label for="search">Search :</label>
            <input id="search" type="text" name="q" placeholder="keyword">
            <input type="Submit" value="Search">
            </form>
        </div></br>
    <div style="text-align: center;"><h1 id="userProfile">Profile</h1></div>
    <div>
    <p id="userName"><b>Name : </b></p>
    <p id="userAdd"><b>Address : </b></p>
    <p id="userEmail"><b>E-mail : </b></p>
    <p><b id="userBalance">Rp. {{balance}}</b></p>
    <button id="topUp" onclick="hideTopup()">Top Up Balance</button><br>
    <div id="topForm" style="visibility: hidden;">
        <form action='/profile/topup/{{user_id}}' onsubmit="return confirm('Confirm Top Up?')" method='POST'>
            <select id="value" name="value" placeholder="Top Up Value">
                <option value="20000">Rp. 20.000</option>
                <option value="50000">Rp. 50.000</option>
                <option value="100000">Rp. 100.000</option>
            </select>
            <input type="submit" value="Top Up">
        </form>
    </div>
    </div>
    <div>
    <button type="button" onclick="hideForm()">Edit Profile</button>
    </div>
    <div id='editForm' style="visibility:hidden">
    <form action="/profile/edit/{{user_id}}" onsubmit="return confirm('Confirm change?')" method='POST'>
        <ul><input type="text" id="f_name" name="f_name" placeholder="First Name :"></ul>
        <ul><input type="text" id="l_name" name="l_name" placeholder="Last Name :"></ul>
        <ul><input type="text" id="address" name="address" placeholder="Address :"></ul>
        <ul><input type="email" id="email" name="email_address" placeholder="E-mail Address :"></ul>
        <ul><input type="password" id="password" name="password" placeholder="Password :"></ul>
        <ul><input type="submit" name="Submit" value="Submit Change">
    </form>
    </div>
    <div id="alert" style="visibility: hidden;">{{alert}}</div>
    <div id="hidden" style="visibility: hidden;">{{user_id}}</div>

</body>
<script>
    var getAlert = document.getElementById('alert').innerHTML

    if (getAlert !== "") {
        showAlert(getAlert)
    }

    function showAlert(msg) {
        alert(msg)
    }
    function hideForm() {
        var editForm = document.getElementById('editForm')
        if (editForm.style.visibility == "hidden") {
            editForm.style.visibility = "visible";
        } else {
            editForm.style.visibility = "hidden";
        }
    }

    function hideTopup() {
        var topForm = document.getElementById('topForm')
        if (topForm.style.visibility == "hidden") {
            topForm.style.visibility = "visible";
        } else {
            topForm.style.visibility = "hidden";
        }
    }
    (function getUser() {
        let user_id = document.getElementById('hidden').innerHTML;
        fetch('http://127.0.0.1:9003/user/'+ user_id)
        .then(response => response.json())
        .then(result => {
            let userProfile = document.getElementById('userProfile')
            let userName = document.getElementById('userName');
            let userAdd = document.getElementById('userAdd');
            let userEmail = document.getElementById('userEmail');

            if(result.l_name === null){
                result.l_name = "";
            } else {result.l_name}

            if(result.user_address === null){
                result.user_address = "";
            } else {result.user_address}

            userProfile.innerHTML = result.f_name + "'s Profile";
            userName.innerHTML = "Name : ".bold() + result.f_name + " " + result.l_name;
            userAdd.innerHTML = "Address : ".bold() + result.user_address;
            userEmail.innerHTML = "E-mail : ".bold() + result.email_address;
        });
    })();
</script>
</html>