<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch-it! Dashboard</title>
    <link rel="icon" href="/images/logo.png" type="image/png" sizes="any">

    <style>
        #head1 { grid-area: 1 / 1 / 2 / 2 ; }
        #head2 { grid-area: 1 / 2 ; }
        #head3 { grid-area: 1 / 3 ; }

        .head {
          display: grid;
          background-color: rgb(107, 100, 100);
          grid-auto-columns: auto;
          grid-gap: 10px;
          padding: 10px;
          width: auto;
        }
        
        .head > span {
          text-align: center;
          padding: 20px 0;
        }

        .head > span > a {
            color : whitesmoke
        }

        a {
            color : black
        }
        a:hover {
            color : grey
        }
        </style>
</head>
<body>
    <header>
        <div class="head" >
        <span id="head1">
            <a href="/dashboard/{{userkey}}">Home</a>
        </span>
        <span id="head2">
            <a href="/dashboard/comingsoon/{{userkey}}">Coming Soon</a>
            <a href="/dashboard/mostwatched/{{userkey}}">Most Watched</a>
        </span>
        <span id="head3" style="color:white">
            Hello, <a href='/profile/{{user_id}}'>{{user}}</a><br>
            Rp. {{balance}}
            <a href="/logout/{{userkey}}" onclick="return confirm('Log out?')">Log Out</a>
        </span>
        </div>
    </header></br>
        <div>
            <form id="searchBox" action='/dashboard/search/{{userkey}}' method="get">
            <label for="search">Search :</label>
            <input id="search" type="text" name="q" placeholder="keyword">
            <input type="Submit" value="Search">
            </form>
        </div></br>
        <div id="message" style="text-align: center;"><h2>{{message}}</h2></div>
        <div id="content"></div></br>
        <form action='/purchase/{{schedule_id}}/{{userkey}}' onsubmit="return confirm('Confirm Purchase?')" method="post">
            <label for="qty">Ticket qty :</label>
            <input type="number" name="qty" id="qty" min="1">
            <input type="submit" value="Purchase">
        </form>
        <div id="hidden" style='visibility:hidden'>{{schedule_id}}</div>
        <div id="hiddenkey" style='visibility:hidden'>{{userkey}}</div>
        <div id="alert" style='visibility:hidden'>{{alert}}</div>

</body>
<script>
    const defaultUrl = "http://127.0.0.1:9003/purchase";
    const currentUrl = window.location.href;
    const hiddenSchedID = document.getElementById('hidden').innerHTML;
    const hiddenKey = document.getElementById('hiddenkey').innerHTML;

    var getAlert = document.getElementById('alert').innerHTML

    if (getAlert !== "") {
        showAlert(getAlert)
    }

    function showAlert(msg) {
        alert(msg)
    }

    (function scheduleMovie() {
        let url = 'http://127.0.0.1:9003/schedule/purchase/' + hiddenSchedID;
        fetch(url)
        .then(response => response.json())
        .then(result => {
            let cont = document.getElementById('content');
            let h2 = document.createElement('h2');
            let p1 = document.createElement('p');
            let p2 = document.createElement('p');
            let p3 = document.createElement('p');
            let p4 = document.createElement('p');
            let p5 = document.createElement('p');
            let p6 = document.createElement('p');
            let p7 = document.createElement('h2');
            let p8 = document.createElement('p');
            let img = document.createElement('img');
            let br = document.createElement('br');
                
            let movTitle = result.title;
            img.src = result.poster;
            img.alt = movTitle;
            img.title = movTitle;
            cont.appendChild(img);

            h2.innerHTML = movTitle;                
            cont.appendChild(h2);
            
            let movDesc = result.description;
            p1.innerHTML = movDesc;
            cont.appendChild(p1);

            let movDirect = result.directed_by;
            p2.innerHTML = 'Director : '.bold() + movDirect;
            cont.appendChild(p2);

            let movGenre = result.genre;
            p3.innerHTML = 'Genre : '.bold() + movGenre;
            cont.appendChild(p3);

            let movDur = result.duration_mins;
            p4.innerHTML = 'Duration : '.bold() + movDur + ' mins';
            cont.appendChild(p4);
            cont.appendChild(br);

            let movDate = result.play_date;
            p5.innerHTML = 'DATE : '.bold() + movDate.bold();
            cont.appendChild(p5);

            let movStudio = result.studio_id;
            p6.innerHTML = 'STUDIO ' + movStudio;
            cont.appendChild(p6);

            let schedTime = result.start_time;
            p8.innerHTML = schedTime;
            cont.appendChild(p8);            

            let movPrice = result.price;
            p7.innerHTML = 'Rp. ' + movPrice;
            cont.appendChild(p7);
        }) 
    })();

</script>
</html>